---
import ModalDemo from "../ModalDemo.astro"
---

<div class="hero opacity-100 min-h-screen z-10 text-white">
    <div class="hero-content flex-col lg:flex-row-reverse">
      <div class="text-center lg:text-left p-4">
        <h1 class="text-2xl sm:text-5xl font-bold">DistribuLink Puede Transformar Tu Negocio!</h1>
        <p class="py-6 text-sm">
            ¿Quieres ver cómo DistribuLink puede optimizar la gestión de tu distribución e incrementar tus ganancias en ventas? Solicita una personalizada y descubre todas las funcionalidades y beneficios que nuestro sistema puede ofrecerte.<ModalDemo/> 
        </p>
      </div>
      <div class="card bg-base-100 w-full max-w-sm shrink-0 shadow-2xl shadow-secondary/40">
        <form class="card-body">
            <div class="form-control">
                <label class="label">
                  <span class="label-text">Nombre</span>
                </label>
                <input type="text" placeholder="Nombre" class="input input-bordered" required />
              </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">Correo electrónico</span>
            </label>
            <input type="text" placeholder="Correo Electronico" class="input input-bordered" required />
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">Teléfono</span>
            </label>
            <input type="text" placeholder="Telefono" class="input input-bordered" required />
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">Empresa</span>
            </label>
            <input type="text" placeholder="Empresa" class="input input-bordered" required />
          </div>
          <div class="form-control mt-6">
            <button class="btn bg-primary hover:bg-primary/80">Solicitar Demo</button>
          </div>
        </form>
      </div>
    </div>
  </div>