---
import WordRotateDemo  from "../WordRotate.jsx";
import ShimmerButton from "../ShimmerButton.jsx";
---

<div class="hero min-h-screen bg-dark text-white flex-1 opacity-100">
    <div class="hero-content flex-col lg:flex-row-reverse sm:gap-x-9 text-center sm:text-left">
      <img src="images/hero.svg" class="max-w-sm rounded-lg shadow-2xl hero-img" alt="hero"/>
      <div class="text-center sm:text-left">
        <h1 class="text-6xl font-bold sm:w-10/12">Maximiza tus Ventas!</h1>
        <div class="py-6 text-2xl">La mejor solución para una gestión de distribución 
          <WordRotateDemo client:load/></div>
        <div><ShimmerButton client:load/></div>
      </div>
    </div>
</div>

<style>
  .hero-img{
    filter: drop-shadow(0 0 0.75rem #be3ecc);
  }
</style>