<div class="navbar opacity-100 text-white sm:px-14 py-2 z-20 relative">
  <div class=" sm:hidden">
    <div class="dropdown ">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" /></svg>
      </div>
      <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
        <li><a href="/features">Mejora tu eficiencia</a></li>
        <li><a href="/about">¿Quiénes Somos?</a></li>
        <li><a href="/contact">Contáctanos</a></li>
      </ul>
    </div>
  </div>
    <div class="mx-auto sm:flex-1">
      <a class="text-2xl font-bold hover:text-secondary py-2 z-10" href="/">DistribuLink</a>
    </div>
    <div class="flex-none hidden sm:flex" >
      <ul class="menu menu-horizontal px-1">
        <li class="hover:text-secondary text-lg"><a href="/features">Mejora tu eficiencia</a></li>
        <li class="hover:text-secondary text-lg"><a href="/about">¿Quiénes Somos?</a></li>
        <li class="hover:text-secondary text-lg"><a href="/contact">Contáctanos</a></li>
      </ul>
    </div>
  </div>